#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

canvas {
    margin: auto;
}

.marker {
  background-image: url('../img/play-button.png');
  background-size: cover;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}
